/* Basic Styles ---------------------- */

body {
  font: 1em/1.25 Helvetica, Verdana, "Trebuchet MS";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p  {
  font-size: 1.125em;
}
.center {
  text-align: center;
 }  
.links {
  margin: 1.5em;
  color: teal;
}
.line, main, header {
    max-width: 550px;
}

/* Header ---------------------- */
header {
  margin: auto;
  margin-top: 5em;
  overflow: auto;
}
#nameAndTitle {
  float: right;
  margin-right: 10%;
  padding: 0;
}
#portfolioPic {
  display: block;
  width: 9em;
  border-radius: 100%;
  float: left;
  height: auto;
}
#name {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  font-size: 2em;
}
#title {
  margin-top: 0;
  padding: 0;
  color: gray;
  font-weight: none;
  font-size: 1.5em;
}

/* Nav ---------------------- */
nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
}

/* Main ---------------------- */
main {
  margin: auto;
}


/* Footer ---------------------- */
footer {
  margin: 40px auto;
}
 
.line {
  margin: 30px auto;
}

/* Media Queries ---------------------- */
@media (max-width: 600px) {
  .line, main, header {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  header {
    padding: 0 15px;  
  }
  #nameAndTitle, #portfolioPic {
    float: none;
    margin: auto;
  }
  #nameAndTitle {
    margin-right: none;
    text-align: center;
  }
  #portfolioPic {
  }
  
  .contactLinks {
    margin: 10px;
  }
}