/* Element Styles ---------------------- */
body {
  font: 1em/1.25 Helvetica, Verdana, "Trebuchet MS";
}
a {
  color: teal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p  {
  font-size: 1.125em;
}

header {
  margin: auto;
  margin-top: 5em;
  overflow: auto;
}

footer {
  margin: 40px auto;
}

/* Class Styles ---------------------- */
.center {
  text-align: center;
 }  
.contactLinks {
  margin: 1.5em;
}
.line {
  margin: 30px auto;
}
.goBack {
  color: black;
}

/* Id Styles ---------------------- */

#nameAndTitle {
  float: right;
  margin-right: 10%;
  padding: 0;
}
#portfolioPic {
  display: block;
  width: 9em;
  border-radius: 100%;
  float: left;
  height: auto;
}
#name {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  font-size: 2em;
}
#title {
  margin-top: 0;
  padding: 0;
  color: gray;
  font-weight: none;
  font-size: 1.5em;
}
#bio {
  margin: 0 auto;
  width: 90%;
}

/* Extra ---------------------- */
.line,
#bio,
header {
    max-width: 550px;
}

/* Media Queries ---------------------- */
@media (max-width: 550px) {
  .line,
  #bio,
  header {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  header {
    padding: 0 15px;  
  }
  #nameAndTitle, 
  #portfolioPic {
    float: none;
    margin: auto;
  }
  #nameAndTitle {
    margin-right: none;
    text-align: center;
  }
  #portfolioPic {
  }
  
  .contactLinks {
    margin: 10px;
  }
}