/* Basic Styles ---------------------- */

body {
  font: 1em/1.25 Helvetica, Verdana, "Trebuchet MS";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p  {
  font-size: 1.125em;
}

.center {
  text-align: center;
 }

.links {
  margin: 1.5em;

}

.primaryColor {
  color: teal;
}

.line, main, header {
    max-width: 650px;
}

.removeDot {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

/* Header ---------------------- */
header {
  margin: 5em auto 3em;
  overflow: auto;
}

#nameAndTitle {
  float: right;
  margin-right: 10%;
  padding: 0;
}

#portfolioPic {
  display: block;
  width: 9em;
  border-radius: 100%;
  float: left;
  margin-left: 10%;
}

#name {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  font-size: 2em;
}

#title {
  margin-top: 0;
  padding: 0;
  color: gray;
  font-weight: none;
  font-size: 1.5em;
}

/* Nav ---------------------- */
nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
}

/* Main ---------------------- */
main {
  margin: auto;
}

#portfolio {
  text-align: center;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#flexContainer article {
  flex: 1;
  margin-bottom: 20px;
}

#portfolio img {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
  transition: .5s ease;
}

#portfolio img:hover {
  width: 310px;
  height: 210px;
  opacity: 0.7;
}

.moreInfo {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.tags {
  font-size: 1em;
  font-style: italic;
}

#mailBtn {
  cursor: pointer;
  display: inline-block;
  width: 12em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
}

/* Footer ---------------------- */
footer {
  margin: 40px auto;
}

.line {
  margin: 30px auto;
}

/* Media Queries ---------------------- */
@media (max-width: 700px) {
  .line, main, header {
    max-width: 90%;
  }

  #nameAndTitle, #portfolioPic {
    float: none;
    margin: auto;
  }

  #flexContainer {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  header {
    padding: 0 15px;
  }

  #nameAndTitle {
    margin-right: none;
  }

  .contactLinks {
    margin: 10px;
  }
}

@media (max-width: 350px) {
  #portfolio img {
    max-width: 250px;
  }
}
